/*RESET CSS*/
*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

body{
  list-style-type: none;
}

ol, ul, menu {
  list-style: none;
}
/*reset css - end*/


:root{  
  --bg-color-01: #F5F5F5;
  --bg-color-02: #19191A;
  --bg-color-03: #FF0A6B;
  --bg-color-04: #FFFFFF;
  --bg-color-05: #E9E9E9;
  --bg-color-06: #231F20;
  --bg-color-07: #F6650C;
  --bg-color-08: #707070;
  --bg-color-09: #E5E5E5;
  --bg-color-gradient-01: linear-gradient(270deg, #534A99 -0.01%, #FF0A6B 100%);

  --text-color-01: #231F20;
  --text-color-02: #726F73;
  --text-color-03: #5F5961;
  --text-color-04: #FF0A6B;  
  --text-color-05: #FAFAFA;
  --text-color-06: #FFFFFF;
  --text-color-07: #343A40;
  --text-color-08: #767676;
  --text-color-09: #000000;
  --text-color-10: #D6B016;
  --text-color-11: #707070;

  --font-family-01: 'Inter', sans-serif;
  --font-family-01: 'Inter', sans-serif;
  --font-family-03: 'Barlow', sans-serif;
  --font-size-08: 8px;
  --font-size-09: 9px;
  --font-size-10: 10px;
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-26: 26px;  
  --font-size-28: 28px;
  --font-size-30: 30px; 
  --font-size-31: 31px;
  --font-size-44: 44px;
  --font-size-50: 50px;
  --line-height-12: 12px;
  --line-height-13: 13px;  
}

.wrapper{
  margin: 0 auto;
  display: block;
}

.no-wrapper{
  width: 100%
}

/*CAROUSEL GERAL*/
.carousel__container{  
  margin: 0 auto;
  padding: 0;
}
  
.carousel__container__gallery-wrapper{
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.carousel__container__gallery{
  display: flex;
  flex-flow: row nowrap;
}

.carousel__container__gallery__item{
  display: flex;
  flex-flow: column;
}
/*CAROUSEL FIM*/

/*HEADER*/
.header{
  display: flex;
  flex-direction: column;
}

.header__top{
  display: flex;   
  justify-content: space-between;
  align-items: flex-end;
  margin: 23px 24px 25.5px 24px;
}

.header__top__logo{
  display: flex;
  justify-content: flex-start;
}

.header__top__logo__link{
  background-image: url(../assets/svg/logo-ri.svg); 
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  width: 126px;
  height: 50px;
}

.header__top__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 150px;
}

.header__top__box__link{ 
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: var(--bg-color-04);  
  border: none;
  border-radius: 23px;
  box-shadow: 0px 5px 7.5px rgba(0, 0, 0, 0.0509804);
  cursor: pointer;  
}

.header__top__box__link.link-jornal{
  width: 106px;
  height: 38px;
}

.header__top__box__link.link-newsletter{
  display: none;
}

.header__top__box__link__text{
  font-size: var(--font-size-11);
  color: var(--text-color-01);
  line-height: 13.31px;
  letter-spacing: -0.005em;
  padding: 0 24px 12.25px 0;
  position: relative;
  top: 2px
}

.header__top__box__menuaside{
  background-image: url(../assets/svg/menu-aside-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;  
  text-indent: -9999px;
  width: 20px;
  height: 15px;
}
/*HEADER - Header Top - Fim*/


/*HEADER - Carousel Menu*/
.carousel__container.carousel-header-bottom-navbar{
  max-width: 500px;
}

.carousel-header-bottom-navbar .carousel__container__gallery-wrapper{
  padding-left: 24px;  
}

.carousel-header-bottom-navbar .carousel__container__gallery{
  justify-content: flex-start;
  column-gap: 27px;
}

.carousel-header-bottom-navbar .header__bottom__navbar__menu__item{
  display: flex;
  justify-content: flex-start;
  align-items: center;  
}

.carousel-header-bottom-navbar .header__bottom__navbar__menu__item__link{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  color: var(--text-color-02);
  opacity: 0.9;
  height: 27px;
  position: relative;  
}

.carousel-header-bottom-navbar .header__bottom__navbar__menu__item:last-child > .header__bottom__navbar__menu__item__link{
  margin-right: 24px;
}

.carousel-header-bottom-navbar .header__bottom__navbar__menu__item__link.link--active{
  color: var(--text-color-01);
  opacity: 1;
}

.carousel-header-bottom-navbar .header__bottom__navbar__menu__item__link.link--active::after{  
  content: "";
  position: absolute;
  background-color: var(--bg-color-03);
  width: 75%;
  height: 3px;
  left: 0;
  bottom: 0px;
}

.carousel-header-bottom-navbar .header__bottom__navbar__menu__item__link__text{
  font-size: var(--font-size-11);
  line-height: var(--line-height-13);
  letter-spacing: -0.005em;
}
/*HEADER - Carousel Menu - Fim*/


/* ADVERTISING */
.advertising{
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertising.advertising-rectangle{
  padding: 24px 28px;
}

.advertising.advertising-square{
  padding: 24px;
}

.advertising__link{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.advertising__link__image{
  width: 100%;
  height: auto;
}
/* ADVERTISING - FIM*/


/*CAROUSEL FAMOUS*/
.carousel__container.carousel-famous-navbar{
  max-width: 470px;
  margin-bottom: 24px;
}

.carousel-famous-navbar .carousel__container__gallery-wrapper{
  padding-left: 24px;
}

.carousel-famous-navbar .carousel__container__gallery{
  justify-content: flex-start;
  height: 76px;
  column-gap: 12px;
}

.carousel-famous-navbar .carousel-famous__navbar__menu__item{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carousel-famous-navbar .carousel-famous__navbar__menu__item:last-child>a{
  margin-right: 24px;
}

.carousel-famous-navbar .carousel-famous__navbar__menu__item__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 5px;  
}

.carousel-famous-navbar .carousel-famous__navbar__menu__item__link__figure{
  display: flex;
  flex-flow: column nowrap;  
  justify-content: center;
  align-items: center;
}

.carousel-famous-navbar .carousel-famous__navbar__menu__item__link .carousel-famous__navbar__menu__item__link__figure__figure-image,
.carousel-famous-navbar .carousel-famous__navbar__menu__item__link.link--active .carousel-famous__navbar__menu__item__link__figure__figure-image{  
  border-radius: 50%;
  padding: 4px;
  margin-bottom: 5px;
}

.carousel-famous-navbar .carousel-famous__navbar__menu__item__link .carousel-famous__navbar__menu__item__link__figure__figure-image{
  border: 2px solid var(--bg-color-01);
}

.carousel-famous-navbar .carousel-famous__navbar__menu__item__link.link--active .carousel-famous__navbar__menu__item__link__figure__figure-image{
  border: 2px solid var(--bg-color-03);
  color: var(--text-color-01);
  opacity: 1;
}

.carousel-famous-navbar .carousel-famous__navbar__menu__item__link .carousel-famous__navbar__menu__item__link__figure__figure-title{
  font-size: var(--font-size-09);
  color: var(--text-color-03);
  line-height: 11px;
  letter-spacing: -0.005em;
}

.carousel-famous-navbar .carousel-famous__navbar__menu__item__link.link--active .carousel-famous__navbar__menu__item__link__figure__figure-title{
  color: var(--text-color-01);
}
/*CAROUSEL FAMOUS - FIM*/


/*CAROUSEL FULL - GERAL - INICIO*/

.carousel-full .carousel-full__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-full .carousel-full__top__logo{
  display: flex;
  justify-content: flex-start;
}

.carousel-full .carousel-full__top__logo__title__link{
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
}

.carousel-full .carousel-full__top__nav{
  display: flex;
  justify-content: space-between;
}

.carousel-full__top__nav__item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-full .carousel-full__tags{
  display: flex;
  justify-content: flex-start;
}

.carousel-full .carousel-full__tags__link{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-full .carousel__container__nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-full .carousel__container__nav__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-full .carousel__container__nav__list__item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-full .carousel-full__social-media{
  display: flex;
  justify-content: flex-start;
}

.carousel-full .carousel-full__social-media__link{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.carousel-full .carousel__container__gallery__item__article__video__news-title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.carousel-full .carousel__container__gallery__item__article__news-title__link{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.carousel-full__carousel{
  padding: 0 0 0 10px;
}

.carousel-full__carousel .carousel__container__gallery-wrapper{
  overflow-x: auto;
}

.carousel-full__carousel .carousel__container__gallery{
  display: flex;
  justify-content: flex-start;
}
/*CAROUSEL FULL - GERAL - INICIO*/


/*CAROUSEL FULL ORBITV - INICIO*/
.carousel__container.carousel-orbi-tv{
  background-color: var(--bg-color-02);
  padding: 36px 0 16px 0;
}

.carousel-orbi-tv .carousel-full__top{
  padding: 0 23px 0 10px;
  margin-bottom: 20px;
}

.carousel-orbi-tv .carousel-full__top__logo__title__link{
  background-image: url(../assets/svg/logo-orbi-tv.svg); 
  width: 112px;
  height: 50px;
}

.carousel-orbi-tv .carousel-full__top__nav{
  width: 70px;
}

.carousel-orbi-tv .carousel-full__tags{
  padding: 0 10px;
  height: 26px;
  column-gap: 10px;
  margin-bottom: 20px;
}

.carousel-orbi-tv .carousel-full__tags__link{
  border-radius: 20px;
  height: 26px;
}

.carousel-orbi-tv .carousel-full__tags__link.link-videos{
  background: var(--bg-color-03);
  border: 1px solid(--bg-color-03);
  color: var(--text-color-05);
  width: 64px;  
}

.carousel-orbi-tv .carousel-full__tags__link.link-shorts{
  background: var(--bg-color-02);
  border: 1px solid var(--bg-color-08);
  color: var(--text-color-11);
  width: 67px;
}

.carousel-orbi-tv .carousel-full__tags__link__text{
  font-size: var(--font-size-10);
  line-height: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.carousel-orbi-tv .carousel__container__nav{
  margin-bottom: 54px;
}

.carousel-orbi-tv .carousel__container__nav__list{
  width: 25px;
}

.carousel-orbi-tv .carousel__container__nav__list__item__bullet{
  border: 2px solid var(--bg-color-09);
  background: var(--bg-color-02);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.carousel-orbi-tv .carousel__container__nav__list__item__bullet.bullet--active{
  border: 2px solid var(--bg-color-09);
  background: var(--bg-color-09);
}

.carousel-orbi-tv .carousel__container__gallery__item__article__video{
  margin-bottom: 14px;
}

.carousel-orbi-tv.carousel-full__carousel{
  margin-bottom: 14px;
}

.carousel-full__carousel .carousel__container__gallery{
  column-gap: 12px;
}

.carousel-orbi-tv .carousel__container__gallery__item:last-child{
  padding-right: 24px;
}

.carousel-orbi-tv .carousel__container__gallery__item__article__news-title{
  margin-bottom: 34px;
  padding-left: 5px;
}

.carousel-orbi-tv .carousel__container__gallery__item__article__news-title__link{  
  color: var(--text-color-06);
}

.carousel-orbi-tv .carousel__container__gallery__item__article__news-title__link__text{  
  font-size: var(--font-size-16);
  line-height: 22px;
}

.carousel-orbi-tv .carousel-full__social-media{
  padding: 0 10px;
  margin-bottom: 16px;
}

.carousel-orbi-tv .carousel-full__social-media__link{
  column-gap: 10px;
}

.carousel-orbi-tv .carousel-full__social-media__link__text{
  font-size: var(--font-size-12);
  color: var(--text-color-05);
  line-height: 15px;
  letter-spacing: 0.01em;
}
/*CAROUSEL ORBITV - FIM*/










/* NEWS - GERAL*/
.news__container{
  display: flex;
  flex-flow: column nowrap;
}

.news__container__item{
  position: relative;
}

.news__container__item__link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.news__container__item__tags{
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;    
}

.news__container__item__tags__link{
  display: flex;
  justify-content: center;
  align-items: center;  
}

.news__container__item__text-wrapper{
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  width: 100% !important; 
  z-index: 4;
}

.news__container__item__text-wrapper__title-news{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.news__container__item__text-wrapper__title-news__link{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  cursor: pointer;
}

.news__container__item__text-wrapper__link{
  position: relative;
  cursor: pointer;
}

.news__container__item__text-wrapper__tag-section{
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

.news__container__item__text-wrapper__tag-section__link {
  position: relative;
  display: inline-block;
}

.news__container__item__text-wrapper__tag-section__link__text{
  text-transform: uppercase;
}
/* NEWS - Fim*/

/*NEWS - News-Main*/
.news__container.news-main{
  width: 360px;
  height: 360px
}

.news-main .news__container__item{
  height: 360px
}

.news-main .news__container__item__tags{
  padding: 15px 24px 0px 24px;
}

.news-main .news__container__item__tags__link{
  height: 18px;
}

.news-main .news__container__item__tags__link.link-category{
  background: var(--bg-color-06);
  color: var(--text-color-05);
  text-transform: uppercase;
  width: 66px;
  border-radius: 20px;
}

.news-main .news__container__item__tags__link.link-share{
  background: var(--bg-color-03);
  color: var(--text-color-01);  
  width: 85px;
  border-radius: 20px;
}

.news-main .news__container__item__tags__link.link-share::before{
  content: url(../assets/svg/icon-feather-send.svg);
  width: 10px;
  height: 10px;
  position: relative;
  top: -4px;
  left: -4px;
}

.news-main .news__container__item__tags__link__text{
  font-weight: 800;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.01em;
}

.news-main .news__container__item__text-wrapper{
  background: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.701961) 55.64%, #231F20 100%);
  height: 164px;
  bottom: 0;
}

.news-main .news__container__item__text-wrapper__link{
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-shadow: 0px 3px 3px rgb(0 0 0 / 16%);
}

.news-main .news__container__item__text-wrapper__title-news__link__text{
  font-size: var(--font-size-24);
  line-height: 28px;
  letter-spacing: -0.01em;
  text-shadow: 0px 3px 3px rgb(0 0 0 / 16%);
  width: 305px; 
}

.news-main .news__container__item__text-wrapper{
  bottom: 0;
  padding: 55px 24px 29px 24px;
}

.news-main .news__container__item__text-wrapper__link{
  color: var(--text-color-05);
  margin-bottom: 6px;
}

.news-main .news__container__item__text-wrapper__tag-section{  
  color: var(--text-color-04);
  margin-bottom: 6px;
}

.news-main .news__container__item__text-wrapper__tag-section__link{
  color: var(--bg-color-04);
  left: -10px;
  height: 18px;
}

.news-main .news__container__item__text-wrapper__tag-section__text{
  font-size: var(--font-size-10); 
  line-height: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.news-main .news__container__item__text-wrapper__title-news__link{
  color: var(--text-color-05);
}

.news-main .news__container__item__text-wrapper__title-news__link__text{
  font-size: var(--font-size-24);
  line-height: 28px;
  letter-spacing: -0.01em;
  width: 305px; 
}
/*NEWS - News-Main - Fim*/


/*NEWS - News-Square-CarouselMain*/
.carousel__container.carousel-news-square{
  max-width: 640px;
  padding: 24px 0 24px 24px;
}
.carousel-news-square .news__container{
  width: 312px;
}

.carousel-news-square .carousel__container__gallery{
  justify-content:space-between;
  margin-bottom: 15px;
  column-gap: 16px;
}

.carousel-news-square .carousel__container__gallery__item:last-child {
  padding-right: 16px;
}

.carousel-news-square .news__container__item__tags{
  padding: 15px;
}

.carousel-news-square .news__container__item__tags__link{
  height: 18px;
}

.carousel-news-square .news__container__item__tags__link.link-category{
  background: var(--bg-color-06);
  color: var(--text-color-05);
  text-transform: uppercase;
  width: 66px;
  border-radius: 20px;
}

.carousel-news-square .news__container__item__tags__link.link-share{
  background: var(--bg-color-03);
  color: var(--text-color-05);  
  width: 85px;
  border-radius: 20px;
}

.carousel-news-square .news__container__item__tags__link.link-share::before{
  content: url(../assets/svg/icon-feather-send.svg);
  width: 10px;
  height: 10px;
  position: relative;
  top: -6px;
  left: -4px;
}

.carousel-news-square .news__container__item__tags__link__text{
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.01em;
}

.carousel-news-square .news__container__item__text-wrapper{
  background: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.701961) 55.64%, #231F20 100%);
  height: 164px;
  bottom: 3px;
  padding: 55px 15px 23px 15px;
  border-radius: 15px;
}

.carousel-news-square .news__container__item__text-wrapper__link{
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-shadow: 0px 3px 3px rgb(0 0 0 / 16%);
}

.carousel-news-square .news__container__item__text-wrapper__title-news__link__text{
  font-size: var(--font-size-16);
  line-height: 20px;
  letter-spacing: -0.01em;
  text-shadow: 0px 3px 3px rgb(0 0 0 / 16%);
}

.carousel-news-square .news__container__item__text-wrapper__link{
  color: var(--text-color-05);
  margin-bottom: 6px;
}

.carousel-news-square .news__container__item__text-wrapper__tag-section{  
  color: var(--text-color-04);
  margin-bottom: 6px;
}

.carousel-news-square .news__container__item__text-wrapper__tag-section__link{
  color: var(--bg-color-04);
  left: -10px;
  height: 18px;
}

.carousel-news-square .news__container__item__text-wrapper__tag-section__text{
  font-size: var(--font-size-10); 
  line-height: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.carousel-news-square .news__container__item__text-wrapper__title-news{
  justify-content: center;
}

.carousel-news-square .news__container__item__text-wrapper__title-news__link{
  color: var(--text-color-05);
}

.carousel__container__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.carousel-news-square .carousel__container__nav__list{
  width: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-news-square .carousel__container__nav__list__item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-news-square .carousel__container__nav__list__item__bullet{
  border: 1px solid #C4C4C4;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.carousel-news-square .carousel__container__nav__list__item__bullet.bullet--active{
  border: 1px solid var(--bg-color-06);
  background-color: var(--bg-color-06);
  border-radius: 50%;
}
/*NEWS - News-Main - Fim*/


/*NEWS-SERIES*/
.news__container.news-series{
  width: 100%;
  padding: 0 24px;
  margin-bottom: 0;
}

.news-series .carousel__container__gallery{
  justify-content:space-between;
  margin-bottom: 15px;
  column-gap: 16px;
}

.news-series .carousel__container__gallery__item:last-child {
  padding-right: 16px;
}

.news-series .news__container__item__tags{
  padding: 15px;
}

.news-series .news__container__item__tags__link{
  height: 18px;
}

.news-series .news__container__item__tags__link.link-category{
  background: var(--bg-color-06);
  color: var(--text-color-05);
  text-transform: uppercase;
  width: 66px;
  border-radius: 20px;
}

.news-series .news__container__item__tags__link.link-share{
  background: var(--bg-color-03);
  color: var(--text-color-05);  
  width: 85px;
  border-radius: 20px;
}

.news-series .news__container__item__tags__link.link-share::before{
  content: url(../assets/svg/icon-feather-send.svg);
  width: 10px;
  height: 10px;
  position: relative;
  top: -6px;
  left: -4px;
}

.news-series .news__container__item__tags__link__text{
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.01em;
}

.news-series .news__container__item__image{
  width: 100%;
  height: auto;
}

.news-series .news__container__item__text-wrapper{
  background: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.901961) 100%);
  height: 163px;
  bottom: 3px;
  padding: 55px 15px 23px 15px;
  border-radius: 15px;
  width: 100%;
}

.news-series .news__container__item__text-wrapper__link{
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-shadow: 0px 3px 3px rgb(0 0 0 / 16%);
}

.news-series .news__container__item__text-wrapper__title-news__link__text{
  font-size: var(--font-size-16);
  line-height: 20px;
  letter-spacing: -0.01em;
  text-shadow: 0px 3px 3px rgb(0 0 0 / 16%);
}

.news-series .news__container__item__text-wrapper__link{
  color: var(--text-color-05);
  margin-bottom: 6px;
}

.news-series .news__container__item__text-wrapper__tag-section{  
  color: var(--text-color-04);
  margin-bottom: 6px;
}

.news-series .news__container__item__text-wrapper__tag-section__link{
  color: var(--bg-color-04);
  left: -10px;
  height: 18px;
}

.news-series .news__container__item__text-wrapper__tag-section__text{
  font-size: var(--font-size-10); 
  line-height: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.news-series .news__container__item__text-wrapper__title-news{
  justify-content: center;
}

.news-series .news__container__item__text-wrapper__title-news__link{
  color: var(--text-color-05);
}
/* NEWS SERIES - Fim*/





/*NEWS-GROUP - Geral*/
.news-group{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: auto;  
}

.news-group__section__item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  column-gap: 18px;  
}

.news-group__section__item__columnist{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.news-group__section__item__columnist__link{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.news-group__section{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.news-group__item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  column-gap: 18px;
}

.news-group__section-title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.news-group__section-title__logo{
  display: flex;
  justify-content: flex-start;
}

.news-group__section-title__logo__link{ 
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
}

.news-group__item__group-name__link{
  display: flex;
  justify-content: flex-start;  
  cursor: pointer;
}

.news-group__item__news-title__link{
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.news-group__all-columnists{
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-group__all-columnists__link{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*NEWS-GROUP - Geral - Fim*/



/* NEWS-GROUP - Ora Bolas*/
.news-group.group-ora-bolas{  
  padding: 17px 24px;
  gap: 18px;
  border-bottom: 1px solid #CECECE;
}

.group-ora-bolas .news-group__item{
  max-width: 312px;
}

.group-ora-bolas .news-group__item__group-name__link{
  margin-bottom: 5px;
  font-size: var(--font-size-10);
  line-height: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.group-ora-bolas .news-group__item__group-name__link.link-ora-bolas{
  color: var(--text-color-04);
}

.group-ora-bolas .news-group__item__news-title__link{
  font-size: var(--font-size-14);
  color: var(--text-color-01);
  line-height: 16px;
  letter-spacing: -0.01em;
}
/*NEWS-GROUP - Ora Bolas - Fim*/


/*NEWS GROUP - Group Category*/
.news-group.group-category{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 0 24px;
  gap: 24px;  
  margin-bottom: 18px;
  border-bottom: none;
}

.news-group.group-category .news-group__item{
  max-width: 312px;
  display: flex;
  justify-content: space-between;
}

.news-group.group-category .news-group__item__infos{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 200px;  
}

.news-group.group-category .news-group__item__group-name{
  margin-bottom: 12px;
}

.news-group.group-category .news-group__item__group-name__link{
  display: flex;
  justify-content: center;
  font-size: var(--font-size-08);
  line-height: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
}

.news-group.group-category .news-group__item__group-name__link.link--category{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 66px;
  color: var(--text-color-04);
  border-radius: 20px;
  border: 1px solid var(--bg-color-03);
  height: 18px;
}

.news-group.group-category .news-group__item__group-name__link__text{
  font-size: var(--font-size-08);
}

.news-group.group-category .news-group__item__news-title__link{
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-size-14);
  color: var(--text-color-01);
  line-height: 18px;
  letter-spacing: -0.01em;
  cursor: pointer;
}
/*NEWS GROUP - Group Category - Fim*/


/*NEWS GROUP - Group Colunas */
.news-group.group-colunas{
  padding: 0 24px;
}

.news-group.group-colunas .news-group__section{
  margin-bottom: 4px;
}

.news-group.group-colunas .news-group__item{
  margin-bottom: 16px;
  column-gap: 18px;
}

.news-group.group-colunas .news-group__section-title__logo__link{
  background-image: url(../assets/svg/logo-colunas.svg); 
  width: 135px;
  height: 50px;
  margin-bottom: 20px;
}

.news-group.group-colunas .news-group__item__group-name{
  margin-bottom: 9px;
}

.news-group.group-colunas .news-group__item__group-name__link.link-colunas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color-01);
  max-width: unset;
  border: none;
}

.news-group.group-colunas .news-group__item__group-name__link__text {
  font-size: var(--font-size-16);
  line-height: 20px;
  text-transform: initial;
}

.news-group.group-colunas .news-group__item__news-title__link {
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-size-12);
  color: var(--text-color-01);
  line-height: 16px;
  letter-spacing: -0.01em;
  cursor: pointer;
}

.news-group.group-colunas .news-group__all-columnists{
  height: 40px;
  border: 1px solid var(--bg-color-03);
  border-radius: 20px;
}

.news-group.group-colunas .news-group__all-columnists__link{
  color: var(--text-color-04);
}

.news-group.group-colunas .news-group__all-columnists__link__text{
  font-size: var(--font-size-12);
  line-height: 15px;
}

/*CAROUSEL COPA*/
.carousel__container.carousel-copa-2022{
  max-width: 641px;
  padding: 24px 0 24px 24px;
}
.carousel-copa-2022 .news__container{
  width: 100%;
}

.carousel-copa-2022 .carousel__container__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 24px;;
}

.carousel-copa-2022 .carousel__container__gallery{
  justify-content:space-between;
  margin-bottom: 15px;
  column-gap: 16px;
}

.carousel-copa-2022 .carousel__container__gallery__item:last-child {
  padding-right: 16px;
}

.carousel-copa-2022 .news__container__item__tags{
  padding: 15px;
}

.carousel-copa-2022 .news__container__item__tags__link{
  height: 18px;
}

.carousel-copa-2022 .news__container__item__tags__link.link-category{
  background: var(--bg-color-06);
  color: var(--text-color-05);
  text-transform: uppercase;
  width: 60px;
  border: 0.7px solid #FFFFFF;
  border-radius: 20px;
}

.carousel-copa-2022 .news__container__item__tags__link.link-share{
  background: var(--bg-color-03);
  color: var(--text-color-05);  
  width: 85px;
  border-radius: 20px;
}

.carousel-copa-2022 .news__container__item__tags__link.link-share::before{
  content: url(../assets/svg/icon-feather-send.svg);
  width: 10px;
  height: 10px;
  position: relative;
  top: -6px;
  left: -4px;
}

.carousel-copa-2022 .news__container__item__tags__link__text{
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.01em;
}

.carousel-copa-2022 .news__container__item__text-wrapper{
  background: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.701961) 55.64%, #231F20 100%);
  height: 164px;
  bottom: 3px;
  padding: 75px 15px 23px 15px;
  border-radius: 15px;
}

.carousel-copa-2022 .news__container__item__text-wrapper__link{
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-shadow: 0px 3px 3px rgb(0 0 0 / 16%);
}

.carousel-copa-2022 .news__container__item__text-wrapper__title-news__link__text{
  font-size: var(--font-size-16);
  line-height: 20px;
  letter-spacing: -0.01em;
  text-shadow: 0px 3px 3px rgb(0 0 0 / 16%);
}

.carousel-copa-2022 .news__container__item__text-wrapper__link{
  color: var(--text-color-05);
  margin-bottom: 6px;
}

.carousel-copa-2022 .news__container__item__text-wrapper__tag-section{  
  color: var(--text-color-04);
  margin-bottom: 5px;
}

.carousel-copa-2022 .news__container__item__text-wrapper__tag-section__link{
  color: var(--bg-color-04);
  left: -10px;
  height: 18px;
}

.carousel-copa-2022 .news__container__item__text-wrapper__tag-section__text{
  font-size: var(--font-size-10); 
  line-height: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.carousel-copa-2022 .news__container__item__text-wrapper__title-news{
  justify-content: center;
}

.carousel-copa-2022 .news__container__item__text-wrapper__title-news__link{
  color: var(--text-color-05);
}

.carousel-copa-2022 .carousel__container__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.carousel-copa-2022 .carousel__container__nav__list{
  width: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-copa-2022 .carousel__container__nav__list__item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-copa-2022 .carousel__container__nav__list__item__bullet{
  border: 1px solid #C4C4C4;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.carousel-copa-2022 .carousel__container__nav__list__item__bullet.bullet--active{
  border: 1px solid var(--bg-color-06);
  background-color: var(--bg-color-06);
  border-radius: 50%;
}
/*NEWS - News-Main - Fim*/

/*NEWS-CAROUSEL*/
.news-carousel__container{
  margin-bottom: 24px;
}

.news-carousel__container{
  position: relative;
}

.news-carousel__container__gallery-wrapper{
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.news-carousel__container__gallery{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 1005px;  
  margin: 24px;
}

.news-carousel__container__gallery__item{
  background-color: var(--bg-color-01);
  color: var(--text-color-05);
  position: relative;
  width: 312px;
  height: 282px;
  transition: all 600ms ease-in-out;
  flex-shrink: 0;
  opacity: .75;
}

.news-carousel__container__gallery__item.item--current{  
  opacity: 1;
}

.news-carousel__container__gallery__item:before{
  content: "";
  position: absolute;
  background: url(../assets/img/banner-carousel-01-mobile.png) no-repeat center center/cover;
  width: 100%;
  height: 282px;
}

.news-carousel__container__gallery__item__article{
  position: relative;
  width: 312px;
  height: 282px;
}

.news-carousel__container__gallery__item__article__tags{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 312px;
  padding: 15px 24px 0px 24px;
}

.news-carousel__container__gallery__item__article__tags__link{
  font-family: var(--font-family-01);
  display: flex;
  justify-content: center;  
  align-items: center;  
  height: 18px;
  border-radius: 20px;  
  width: 100%; 
}

.news-carousel__container__gallery__item__article__tags__link.link--category{
  background: var(--bg-color-06);
  color: var(--text-color-05);
  text-transform: uppercase;
  max-width: 66px;
}
.news-carousel__container__gallery__item__article__tags__link.link--share{
  background: var(--bg-color-03);
  color: var(--text-color-05);
  max-width: 85px;  
}

.news-carousel__container__gallery__item__article__tags__link__text{
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.01em;
}

.news-carousel__container__gallery__item__article__tags__link.link--share::before{
  content: url(../assets/svg/icon-feather-send.svg);
  width: 10px;
  height: 10px;
  position: relative;
  top: -6px;
  left: -4px;
}

.news-carousel__container__gallery__item__article__box{
  position: absolute;
  bottom: 0;
  width: 312px;
  height: 164px;
  background: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, .3) 55.64%);
  padding: 63px 15px 23px 15px;
  border-radius: 15px;
}

.news-carousel__container__gallery__item__article__box__tag{
  display: list-item;          
  list-style-type: disc;
  list-style-position: inside;
  color: var(--text-color-04);
  margin-bottom: 5px;
}

.news-carousel__container__gallery__item__article__box__tag__link{
  cursor: pointer;
  color: var(--text-color-05);
  margin-bottom: 5px;
  position: relative;
  left: -10px;  
}

.news-carousel__container__gallery__item__article__box__tag__link__text{
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.160784);  
}

.news-carousel__container__gallery__item__article__box__tag__link__text:before{ 
  width: 6px;
  height: 6px;
  background: var(--bg-color-03);
  display: block;   
}

.news-carousel__container__gallery__item__article__box__title__link{
  display: block;
  cursor: pointer;
  color: var(--text-color-05);
}

.news-carousel__container__gallery__item__article__box__title__link__text{  
  font-size: var(--font-size-24);
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.160784);
}

.news-carousel__container__gallery__dots-navigation{
  display: flex;
  justify-content: space-between;
  flex-direction: row;  
  width: 30px;
  margin: 0 auto;
}


.news-carousel__container__gallery__dots-navigation__dot{
  cursor: pointer;
  height: 6px;
  width: 6px;  
  background-color: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  display: block;  
}

.news-carousel__container__gallery__dots-navigation__dot.dot--current{
  background-color: #000;
  border: 1px solid #000;
}



/*CAROUSEL UTILITY*/
.carousel__container.carousel-utility{
  padding: 36px 18px 18px 18px;
}

.carousel-utility .carousel__container__gallery__item__card{
  background: #FFFFFF;
  border: 1px solid #F9F9F9;
  box-shadow: 0px 5px 7.5px rgba(0, 0, 0, 0.0509804);
  border-radius: 15px;
  padding: 19px 0 0 18px;
  height: 176px
}

.carousel-utility .carousel__container__gallery__item__card.card-small{
  width: 176px
}

.carousel-utility .carousel__container__gallery__item__card.card-big{
  width: 373px
}

.carousel-utility .carousel__container__gallery__item__card__title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2px;
  font-size: var(--font-size-12);
  color: var(--text-color-01);
  line-height: 15px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;  
}

.carousel-utility .carousel__container__gallery__item__card__infos{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2px;
  font-size: var(--font-size-10);
  color: var(--text-color-02);
  line-height: 12px;
  letter-spacing: -0.01em;  
  opacity: 0.75;
}
/*CAROUSEL UTILITY FIM*/

/*CAROUSEL UTILITY CARD CITY*/
.carousel-utility .card-city .carousel__container__gallery__item__card__infos{
  margin-bottom: 37px;
}

.carousel-utility .card-city .carousel__container__gallery__item__card__temperature{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.carousel-utility .card-city .carousel__container__gallery__item__card__temperature__status{
  font-size: var(--font-size-10);
  color: var(--text-color-10);
  line-height: 12px;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  opacity: 0.75;
}

.carousel-utility .card-city .carousel__container__gallery__item__card__temperature__degrees{
  font-size: var(--font-size-50);
  color: var(--text-color-01);
  line-height: 50px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}
/*CAROUSEL UTILITY CARD CITY - FIM*/


/*CAROUSEL UTILITY CARD HOROSCOPE*/
.card-horoscope .carousel__container__gallery__item__card__select{
  font-size: var(--font-size-11);
  color: var(--text-color-01);
  line-height: 13px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  border: none;
  margin-bottom: 8px;
  position: relative;
  left: -4px
}

.card-horoscope .carousel__container__gallery__item__card__infos{
  margin-bottom: 42px;
}

.card-horoscope .carousel__container__gallery__item__card__link{
  font-size: var(--font-size-10);
  color: var(--text-color-01);
  line-height: 12px;
  letter-spacing: -0.01em;
  opacity: 0.75
}













/*CAROUSEL UTILITY*/
/*.carousel__container.carousel-utility{
  padding: 36px 10px 18px 10px;
  margin-bottom: 24px;
}

.carousel-utility .carousel__container{
  max-width: 750px;
}

.carousel-utility .news-carousel__carousel{
  margin-top: 36px;
}

.carousel-utility .carousel__container__gallery-wrapper{
  overflow-x: auto;
}

.carousel-utility .carousel__container__gallery{
  display: flex;
  flex-flow: row nowrap;
  column-gap: 12px;
}

.carousel-utility .carousel__container__gallery__item{
  display: flex;
  flex-flow: column;
  height: 176px;
}

.carousel-utility .carousel__container__gallery__item__card{
  background: #FFFFFF;
  border: 1px solid #F9F9F9;
  box-shadow: 0px 5px 7.5px rgba(0, 0, 0, 0.0509804);
  border-radius: 15px;
  padding: 19px 0 0 18px;
}

.carousel-utility .carousel__container__gallery__item__card.card-small{
  width: 176px;
}

.carousel-utility .carousel__container__gallery__item__card.card-big{
  width: 373px;
}

.carousel-utility  .carousel__container__gallery__item__card__city{
  font-size: var(--font-size-12);
  line-height: 15px;
  letter-spacing: 0.01em;
  color: var(--text-color-01);
  margin-bottom: 4px;
}

.carousel-utility  .carousel__container__gallery__item__card__date{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  column-gap: 3px;
  font-size: var(--font-size-10);
  line-height: 12px;
  letter-spacing: -0.01em;  
  color: #929093;
  opacity: 0.75;
  margin-bottom: 37px;
}

.carousel-utility  .carousel__container__gallery__item__card__status{
  font-size: var(--font-size-10);
  line-height: 12px;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: var(--text-color-10);
  opacity: 0.75;
}

.carousel-utility .carousel__container__gallery__item__card__measure{
  font-size: var(--font-size-50);
  color: var(--text-color-01);
  line-height: 50px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

.carousel-utility .card-city .carousel__container__gallery__item__card__infos{
  margin-bottom: 4px;
}

.carousel-utility .card-city .carousel__container__gallery__item__card__infos.infos-city{
  font-size: var(--font-size-12);
  line-height: 15px;
  letter-spacing: 0.01em;
  color: var(--bg-color-06);  
}

.carousel-utility .card-city .carousel__container__gallery__item__card__infos__city-name::before{
  content: "-";
  font-size: var(--font-size-12);
  line-height: 15px;
  letter-spacing: 0.01em;
  color: var(--bg-color-06);
}

.carousel-utility .card-city .carousel__container__gallery__item__card__infos.infos-today{
  font-size: var(--font-size-10);
  line-height: 12px;
  letter-spacing: -0.01em;
  color: var(--text-color-02);
  opacity: 0.75;
  margin-bottom: 36px;
}

.carousel-utility .card-city .carousel__container__gallery__item__card__infos__today-hour::before{
  content: ", ";  
}
*/


/* LOTOMANIA*/
/*.carousel-utility .card-lotomania .news-carousel__carousel__container__gallery__item__card__title{
  font-size: var(--font-size-12);
  line-height: 15px;
  letter-spacing: 0.01em;
  color: var(--text-color-01);
  margin-bottom: 4px;
}

.carousel-utility .card-lotomania .news-carousel__carousel__container__gallery__item__card__contest{
  font-size: var(--font-size-10);
  line-height: 12px;
  letter-spacing: -0.01em;
  color: var(--text-color-02);
  opacity: 0.75;
  margin-bottom: 16px;
}


.carousel__container.carousel-lotomania-numbers{
  max-width: 1020px;
}

.carousel-lotomania-numbers .carousel__container__gallery-wrapper{
  overflow-x: auto;
}

.carousel-lotomania-numbers .carousel__container__gallery{
  column-gap: 20px;
  width: 500px;
  margin-bottom: 15px;
}

.carousel-lotomania-numbers .carousel__container__gallery__item{ 
  height: 72px;
}

.carousel-lotomania-numbers .carousel__container__gallery__item__list-numbers{
  width: 340px;
  gap: 5px 5px;
}

.carousel-lotomania-numbers .carousel__container__gallery__item__list-numbers__item__circle{
  background-color: var(--bg-color-07);  
  width: 32px;
  height: 32px;  
}

.carousel-lotomania-numbers .carousel__container__gallery__item__list-numbers__item__circle__number{
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: var(--bg-color-04);
}

.carousel-lotomania-numbers .carousel__container__nav__list{
  width: 25px;
}

.carousel-lotomania-numbers .carousel__container__nav__list__item__bullet{
  border: 1px solid #C4C4C4;
  width: 6px;
  height: 6px;
}

.carousel-lotomania-numbers .carousel__container__nav__list__item__bullet.bullet--active{
  border: 1px solid var(--bg-color-07);
  background-color: var(--bg-color-07);
}
*/


/*CARD - HOROSCOPE*/
/*.card-horoscope .carousel__container__gallery__item__card.card-small{
  padding: 18px 0 22px 18px;
}

.card-horoscope .carousel__container__gallery__item__card__select{
  border: none;
  font-size: var(--font-size-12);
  line-height: 15px;
  letter-spacing: 0.01em;
  color: var(--bg-color-06);
  margin-top: 50px;
  margin-bottom: 6px;
  text-transform: uppercase;
  position: relative;
  left: -5px;
}

.card-horoscope .carousel__container__gallery__item__card__infos.infos-today{
  font-size: var(--font-size-10);
  line-height: 12px;
  letter-spacing: -0.01em;
  color: var(--text-color-02);
  opacity: 0.75;
  margin-bottom: 42px;
  column-gap: 3px;
}

.card-horoscope .carousel__container__gallery__item__card__infos__today-date::before{
  content: ",";
}

.card-horoscope .carousel__container__gallery__item__card__infos__today-month::before{
  content: "de ";
}

.card-horoscope .carousel__container__gallery__item__card__link{
  display: flex;
  justify-content: flex-start;
}

.card-horoscope .carousel__container__gallery__item__card__link>span{
  font-size: var(--font-size-10);
  color: var(--text-color-01);
  line-height: 12px;
  letter-spacing: -0.01em;
  opacity: 0.75;
}
*/

.carousel-utility .carousel__container__gallery{
  justify-content: flex-start;
  column-gap: 12px;
}