/*RESET CSS*/
*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

body{
  list-style-type: none;
}

ol, ul, menu {
  list-style: none;
}
/*reset css - end*/


:root{  
  --bg-color-01: #F5F5F5;
  --bg-color-02: #19191A;
  --bg-color-03: #FF0A6B;
  --bg-color-04: #FFFFFF;
  --bg-color-05: #E9E9E9;
  --bg-color-06: #231F20;
  --bg-color-07: #F6650C;
  --bg-color-gradient-01: linear-gradient(270deg, #534A99 -0.01%, #FF0A6B 100%);;

  --text-color-01: #231F20;
  --text-color-02: #726F73;
  --text-color-03: #5F5961;
  --text-color-04: #FF0A6B;  
  --text-color-05: #FAFAFA;
  --text-color-06: #FFFFFF;
  --text-color-07: #343A40;
  --text-color-08: #767676;
  --text-color-09: #000000;
  --text-color-10: #D6B016;
  --font-family-01: 'Inter', sans-serif;
  --font-family-01: 'Inter', sans-serif;
  --font-family-03: 'Barlow', sans-serif;
  --font-size-08: 8px;
  --font-size-09: 9px;
  --font-size-10: 10px;
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-26: 26px;  
  --font-size-28: 28px;
  --font-size-30: 30px; 
  --font-size-31: 31px;
  --font-size-44: 44px;
  --font-size-50: 50px;  
}

body{
  background: var(--bg-color-01 );
}

.header{
  display: flex;
  flex-direction: column;
  margin: 23px 22.5px 18px 24px;
}

.header__top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.header__logo__link{
  background-image: url(../assets/svg/logo-ri.svg); 
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  width: 126px;
  height: 50px;
}

.header__link{
  display: inline-block;  
  background: var(--bg-color-04);
  color: var(--text-color-01);
  border: none;
  border-radius: 23px;
  box-shadow: 0px 5px 7.5px rgba(0, 0, 0, 0.0509804);
  cursor:pointer;  
  width: 106px;
  height: 38px;
  position: relative;  
}

.header__link.link--newsletter{
  display: none;
}

.header__link__text{
  position: absolute;
  bottom: 12.25px;
  right: 24px;
  font-size: var(--font-size-11);
  line-height: 13px;
  font-weight: 800;
}

.header__menuaside{
  background-image: url(../assets/svg/menu-aside-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;  
  text-indent: -9999px;
  width: 20px;
  height: 15px;
}

.header-navbar {
  margin: 0 auto;    
  max-width: 800px;
}

.header-navbar__menu {  
  height: 27px;
  list-style: none;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.header-navbar__menu__item__link {
  display: block;
  position: relative;
  margin: 0 16px 0  0;
  color: var(--text-color-02);
  font-size: var(--font-size-11);
  line-height: 13px;
  letter-spacing: -0.005em;  
  text-decoration: none;
}

.header-navbar__menu__item__link.link--active {
  color: var(--text-color-01);      
}

.header-navbar__menu__item__link.link--active:after {  
  content: "";
  position: absolute;
  background-color: var(--bg-color-03);
  width: 75%;
  height: 3px;
  left: 0;
  bottom: -14px;
}

.advertising{
  margin-bottom: 10px;
}

.advertising_banner{
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertising_banner_link_image{
  display: block;
  height: 48px;
  cursor: pointer;
}

.navbar-celebrity{
  margin-bottom: 25px;
  max-width: 700px;
}

.navbar-celebrity__container{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding-left: 24px;
}

.navbar-celebrity__container__item {
  margin-right: 10px;
}

.navbar-celebrity__container__item__link__image{
  margin-bottom: 5px;
  border: 2px solid var(--bg-color-01);
  border-radius: 50%;
  padding: 4px;
}

.navbar-celebrity__container__item__link__image.image--active{
  border: 2px solid var(--bg-color-03);
}

.navbar-celebrity__container__item__link__image_title{
font-size: var(--font-size-09);
line-height: 11px;
text-align: center;
letter-spacing: -0.005em;
color: var(--text-color-03);
}

.main-news{
  background-color: var(--bg-color-01);
  color: var(--text-color-05);
  position: relative;
  width: 100%;
  height: 360px;
}

.main-news:before{
    content: "";
    position: absolute;
    background: url(../assets/img/banner-desktop-principal-selecao-brasileira-mobile.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
}

.main-news__article{
  position: relative;   
  height: 360px; 
}

.main-news__article__tags{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 24px 0px 24px;
}

.main-news__article__tags__link{
  font-family: var(--font-family-01);
  display: flex;
  justify-content: center;  
  align-items: center;  
  height: 18px;
  border-radius: 20px;  
  width: 100%; 
}

.main-news__article__tags__link.link--category{
  background: var(--bg-color-06);
  color: var(--text-color-05);
  text-transform: uppercase;
  max-width: 66px;  
}
.main-news__article__tags__link.link--share{
  background: var(--bg-color-03);
  color: var(--text-color-01);
  max-width: 85px;  
}

.main-news__article__tags__link__text{
  font-weight: 800;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.01em;
}

.main-news__article__tags__link.link--share::before{
  content: url(../assets/svg/icon-feather-send.svg);
  width: 10px;
  height: 10px;
  position: relative;
  top: -6px;
  left: -4px;
}

.news-group{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: auto;
  padding: 17px 24px;
  gap: 18px;
  border-bottom: 1px solid #CECECE;
}

.news-group__item{
  max-width: 312px;
}

.news-group__item__group-name__link{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
  font-size: var(--font-size-10);
  line-height: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
}

.news-group__item__group-name__link.link-ora-bolas{
  color: var(--text-color-04);
}

.news-group__item__news-title__link{
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-size-14);
  color: var(--text-color-01);
  line-height: 16px;
  letter-spacing: -0.01em;
  cursor: pointer;
}








































.main-news__article__box{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 164px;
  background: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, .3) 55.64%);
  padding: 61px 24px 29px 24px;
}

.main-news__article__box__tag{
  display: list-item;          
  list-style-type: disc;
  list-style-position: inside;
  color: var(--text-color-04);
}

.main-news__article__box__tag__link{
  cursor: pointer;
  color: var(--bg-color-04);
  margin-bottom: 5px;
  position: relative;
  left: -10px;  
}

.main-news__article__box__tag__link__text{
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.160784);  
}

.main-news__article__box__tag__link__text:before{ 
  width: 6px;
  height: 6px;
  background: var(--bg-color-03);
  display: block;   
}

.main-news__article__box__title__link{
  display: block;
  cursor: pointer;
  color: var(--text-color-05);
}

.main-news__article__box__title__link__text{  
  font-size: var(--font-size-24);
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.160784);
}




